[submodule "clients/skds/externals/Java-Websocket"]
	path = clients/skds/externals/Java-Websocket
	url = https://github.com/TooTallNate/Java-WebSocket.git
[submodule "clients/skds/externals/NanoHttpd"]
	path = clients/skds/externals/NanoHttpd
	url = https://github.com/NanoHttpd/nanohttpd.git
