body {
	background-color: black;
	color: #F0F0F0;
/*
	background-image: url("/libs/images/tex2res4.png");
*/	font-size: 1em;
	font-family: arial, verdana, sans-serif;
}


div.oobd-name, div.oobd-value, div.oobd-unit {
	border-radius:5px;
	-moz-border-radius:5px;
	border-collapse:separate;
	background-color: darkslategray;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0px 0px 0px 20px;
	border: 0px 0px 0px 0px;
}

@font-face {
  font-family: "Lcd";
  src: url("/libs/fonts/LEDBDREV.TTF") format("truetype");
}


.oobd-name {
	color: white;
	font-size: 1.2em;
	padding: 1px 1px 1px 20px;
	text-overflow: ellipsis;
	
}
.oobd-value {
	font-family: "Lcd";
	color: yellow;
	font-size: 4em;
	padding: 1px 20px 1px 20px;
	text-overflow: ellipsis;
	
}

.oobd-unit {
	padding: 10px 1px 1px 10px;
	color: cyan;
	text-align: right;
	font-size: 1em;
}

.ui-tabs-panel {
	background-image: url("/libs/images/tex2res4.png");
}

.ui-tabs .ui-tabs-nav
{
background: lightblue;
	background-image: url("/libs/images/tex2res4.png");

}

.ui-tabs .ui-tabs-panel  .ui-widget-content/* just in case you want to change the panel */
{
background: blue;
	background-image: url("/libs/images/tex2res4.png");

}