[global_config]
[keybindings]
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
  [[OOBD-Sim]]
    [[[child0]]]
      order = 0
      parent = ""
      position = 395:251
      size = 1687, 1148
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 843
      type = HPaned
    [[[child2]]]
      order = 0
      parent = child1
      position = 574
      type = VPaned
    [[[child5]]]
      order = 1
      parent = child1
      position = 574
      type = VPaned
    [[[child7]]]
      order = 1
      parent = child5
      position = 284
      type = VPaned
    [[[terminal3]]]
      order = 0
      parent = child2
      profile = default
      type = Terminal
    [[[terminal4]]]
      order = 1
      parent = child2
      profile = default
      title = serial Terminal
      type = Terminal
    [[[terminal6]]]
      order = 0
      parent = child5
      profile = default
      title = OOBD-Posix Make & Run
      type = Terminal
    [[[terminal8]]]
      order = 0
      parent = child7
      profile = default
      title = Socat
      type = Terminal
    [[[terminal9]]]
      order = 1
      parent = child7
      profile = default
      title = CAN-Bus Simulation
      type = Terminal
  [[OOBD-Test]]
    [[[child0]]]
      order = 0
      parent = ""
      position = 395:251
      size = 1682, 1141
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 846
      type = HPaned
    [[[child2]]]
      order = 0
      parent = child1
      position = 574
      type = VPaned
    [[[child5]]]
      order = 1
      parent = child1
      position = 574
      type = VPaned
    [[[child6]]]
      order = 0
      parent = child5
      position = 100
      type = VPaned
    [[[terminal3]]]
      command = cd $OOBDROOT/clients/OOBDesk && bash
      order = 0
      parent = child2
      profile = default
      title = OOBDesk
      type = Terminal
    [[[terminal4]]]
      command = cd $OOBDROOT/testing/robotframework && bash
      order = 1
      parent = child2
      profile = default
      title = Robot Framework
      type = Terminal
    [[[terminal6]]]
      command = cd $OOBDROOT/interface/Designs/POSIX/GCC/D3/app && bash
      order = 0
      parent = child6
      profile = default
      title = OOBD-Posix Make & Run
      type = Terminal
    [[[terminal7]]]
      command = cd $OOBDROOT/testing/lua-scripts && bash
      order = 1
      parent = child6
      profile = default
      title = Lua Make
      type = Terminal
    [[[terminal8]]]
      command = cd $OOBDROOT/testing/carCAN_Simulator && ./startSimCAN.sh && bash
      order = 1
      parent = child5
      profile = default
      title = CAN-Bus Simulation
      type = Terminal
[plugins]
[profiles]
  [[default]]
    background_image = None
    scrollback_lines = 1000
