[global_config]
[keybindings]
[profiles]
  [[default]]
    scrollback_lines = 1000
    background_image = None
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
    [[[window0]]]
      type = Window
      parent = ""
  [[OOBD-Test]]
    [[[child0]]]
      position = 395:251
      type = Window
      order = 0
      parent = ""
      size = 1682, 1141
    [[[child1]]]
      position = 846
      type = HPaned
      order = 0
      parent = child0
    [[[child2]]]
      position = 574
      type = VPaned
      order = 0
      parent = child1
    [[[child5]]]
      position = 574
      type = VPaned
      order = 1
      parent = child1
    [[[child6]]]
      position = 100
      type = VPaned
      order = 0
      parent = child5
    [[[child7]]]
      position = 286
      type = HPaned
      order = 1
      parent = child5
    [[[child8]]]
      position = 40
      type = VPaned
      order = 0
      parent = child7
    [[[child9]]]
      position = 30
      type = VPaned
      order = 1
      parent = child7
    [[[terminal3]]]
      profile = default
      title = OOBDesk
      command = cd $OOBDROOT/clients/OOBDesk && bash
      type = Terminal
      order = 0
      parent = child2
    [[[terminal4]]]
      profile = default
      parent = child2
      title = Robot Framework
      command = cd $OOBDROOT/testing/robotframework && bash
      type = Terminal
      order = 1
    [[[terminal6]]]
      profile = default
      type = Terminal
      order = 0
      parent = child6
      title = OOBD-Posix Make & Run
      command = cd $OOBDROOT/interface/Designs/POSIX/GCC/D3/app && bash
    [[[terminal7]]]
      profile = default
      type = Terminal
      order = 1
      parent = child6
      title = Lua Make
      command = cd $OOBDROOT/testing/lua-scripts && bash
    [[[terminal9]]]
      profile = default
      parent = child8
      title = CAN-Bus Simulation
      command = cd $OOBDROOT/testing/carCAN_Simulator && ./startSimCAN.sh && bash
      type = Terminal
      order = 1
    [[[terminal8]]]
      profile = default
      parent = child8
      title = Socat
      command = cd $OOBDROOT && bash
      
      type = Terminal
      order = 0
    [[[terminal11]]]
      profile = default
      parent = child9
      title = Kadaver
      command = cd $OOBDROOT/testing/carCAN_Simulator && bash
      type = Terminal
      order = 1
    [[[terminal10]]]
      profile = default
      parent = child9
      title = Socat 2
      command = cd $OOBDROOT && bash
      
      type = Terminal
      order = 0
  [[OOBD-Sim]]
    [[[child0]]]
      position = 395:251
      type = Window
      order = 0
      parent = ""
      size = 1687, 1148
    [[[child1]]]
      position = 843
      type = HPaned
      order = 0
      parent = child0
    [[[child2]]]
      position = 574
      type = VPaned
      order = 0
      parent = child1
    [[[child5]]]
      position = 574
      type = VPaned
      order = 1
      parent = child1
    [[[child7]]]
      position = 284
      type = VPaned
      order = 1
      parent = child5
    [[[terminal3]]]
      profile = default
      type = Terminal
      order = 0
      parent = child2
    [[[terminal4]]]
      profile = default
      type = Terminal
      order = 1
      parent = child2
      title = serial Terminal
    [[[terminal6]]]
      profile = default
      type = Terminal
      order = 0
      parent = child5
      title = OOBD-Posix Make & Run
    [[[terminal9]]]
      profile = default
      type = Terminal
      order = 1
      parent = child7
      title = CAN-Bus Simulation
    [[[terminal8]]]
      profile = default
      type = Terminal
      order = 0
      parent = child7
      title = Socat
[plugins]
