# this s just a help file  - in case you want to use terminator as UI tun run the tests, you can take this as layout for terminator
# add this sniplett to your ~/.config/terminator/config into the [layouts] section, 
# add 'export OOBDROOT=/home/steffen/Desktop/workcopies/oobd' to your .bashrc
# and start terminator as 'terminator -l OOBD-Test'
# 



  [[OOBD-Test]]
    [[[child0]]]
      position = 395:251
      type = Window
      order = 0
      parent = ""
      size = 1682, 1141
    [[[child1]]]
      position = 846
      type = HPaned
      order = 0
      parent = child0
    [[[child2]]]
      position = 574
      type = VPaned
      order = 0
      parent = child1
    [[[child5]]]
      position = 574
      type = VPaned
      order = 1
      parent = child1
     [[[child6]]]
      position = 100
      type = VPaned
      order = 0
      parent = child5
   [[[child7]]]
      position = 286
      type = VPaned
      order = 1
      parent = child5
    [[[terminal3]]]
      profile = default
      title = OOBDesk
      command = cd $OOBDROOT/clients/OOBDesk && bash
      type = Terminal
      order = 0
      parent = child2
    [[[terminal4]]]
      profile = default
      parent = child2
      title = Robot Framework
      command = cd $OOBDROOT/testing/robotframework && bash
      type = Terminal
      order = 1
    [[[terminal6]]]
      profile = default
      type = Terminal
      order = 0
      parent = child6
      title = OOBD-Posix Make & Run
      command = cd $OOBDROOT/interface/Designs/POSIX/GCC/D3/app && bash
    [[[terminal7]]]
      profile = default
      type = Terminal
      order = 1
      parent = child6
      title = Lua Make
      command = cd $OOBDROOT/testing/lua-scripts && bash
    [[[terminal9]]]
      profile = default
      parent = child7
      title = CAN-Bus Simulation
      command = cd $OOBDROOT/testing/carCAN_Simulator && ./startSimCAN.sh && bash
      
      type = Terminal
      order = 1
    [[[terminal8]]]
      profile = default
      parent = child7
      title = Socat
      command = cd $OOBDROOT && bash
      
      type = Terminal
      order = 0
