<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.oobd.ui.android" android:versionCode="1" android:versionName="1.0">
	
	<uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<application android:icon="@drawable/obd2_icon" android:label="@string/app_name_short"
		android:name="org.oobd.ui.android.application.OOBDApp"
		android:theme="@android:style/Theme.Light.NoTitleBar"
		android:debuggable="true">
		
		<activity android:name=".MainActivity" android:theme="@android:style/Theme.Light"
			android:configChanges="orientation|keyboardHidden" android:label="@string/app_name_short">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity android:name=".Settings" android:theme="@android:style/Theme.Light"
			android:configChanges="orientation|keyboardHidden" android:label="Settings">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name=".Diagnose" android:theme="@android:style/Theme.Light"
			android:configChanges="orientation|keyboardHidden" android:label="Diagnose">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name=".DiagnoseTab" android:label="DiagnoseTab" android:theme="@android:style/Theme.Light"></activity>
		<activity android:name=".OutputActivity" android:label="OutputActivity" android:theme="@android:style/Theme.Light"></activity>
		
		<service android:name="com.openxc.VehicleManager"/>
		
	</application>
	<uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest> 